#box1,#box2,#box3 {
   margin: 0 10px 0 10px;
   position: initial;
}

.box {
    width: 200px;
    height: 200px;
    background-color: none;
    font-size: 0;
    display: inline-block;
    backface-visibility: hidden;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    overflow: hidden;
}

.back {
    transform: rotateY(180deg);
    -webkit-transition: .2s all;
    font-size: 10px;
    text-align: justify;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
}

.front {
    transform: rotateY(0deg);
    -webkit-transition: .2s all;
}

.box:hover > .back {
    -webkit-transform: rotateY(0deg);
    -webkit-transition: .3s all;
}

.box:hover  > .front {
    transform: rotateY(180deg);
    -webkit-transition: .3s all;
}


img {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    font-size: 0;
}

